.Container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  font-weight: 300;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #007AFD;
  height: 40px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0059B3;
}

h3 {
  margin: 0;
  font-size: 24px;
  color: #007AFD;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #333;
}
